[client-server]

# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/mariadb.conf.d/

[mysqld]

# Repertoire ou mariadb stock ses bdd 
datadir = /var/lib/mysql

# Pour que le serveur MariaDB accepte toute les connexions
bind_address = *

port = 3306

# specifie l'OS sous lquel MariaDb s'execute.
user = mysql